---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<div id="main" role="main">
<!--
  <aside class="sidebar graduate-sidebar">
    <ul>
      {% capture toc %}
      - [Heading 1](#heading-1)
        - [Subheading 1.1](#subheading-11)
      - [Heading 2](#heading-2)
      - [Heading 3](#heading-3)
      {% endcapture %}
      {{ toc | markdownify | replace: '<ul>', '<ul class="toc-list">' | replace: '<li>', '<li class="toc-item">' }}
      </ul>
  </aside>
-->
  <div class="archive">
    {% unless page.header.overlay_color or page.header.overlay_image %}
      <h1 class="page__title">{{ page.title }}</h1>
    {% endunless %}
    {{ content }}
  </div>
</div>